
  
 

    <noscript>You need to enable JavaScript to run this app.</noscript>

    <app-navbar></app-navbar>


    <router-outlet></router-outlet>
  

    <div class="copyrights">
      <div class="container">
          <div class="footer-distributed">
              <div class="footer-left">
                  <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Nickie</a> Design By : 
        <a href="https://html.design/">html design</a></p>
              </div>
          </div>
      </div><!-- end container -->
  </div><!-- end copyrights -->

  <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>






